p {
  text-indent: 1rem;
  font-size: larger;
}

#cool-guy-img {
  max-height: 25rem;
  width: 80%;
  object-fit: cover;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.bgc-1 {
  background-color: #deb88771;
}

.spacing-1 {
  margin: 1rem;
  padding: 1rem;
}
