/* h1 {
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
*/

/* #title {
    min-width: 25%;
    image-rendering: pixelated;
} */

p {
    text-indent: 1rem;
    font-size: larger;
}



#cool-guy-img {
    max-height: 25rem;
    width: 80%;
    object-fit: cover;
}