h1,
h2,
h3,
h4 {
  margin: 0;
}

.page > h1 {
  text-decoration: underline;
}

#tb-header {
  margin: 0.5rem 0;

  box-sizing: border-box;
  gap: 1rem;
  align-items: center;
}

#settings-dialog-header {
  display: flex;
  justify-content: space-between;
}

#settings-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sett-select-icon {
  max-height: 1rem;
  margin-right: 0.5rem;
  color: #70809069;
}

#filter-container {
  width: 90vw;
  border: 1px solid;

  box-sizing: border-box;
  border-color: rgba(144, 202, 249, 0.5);

  /* background-color: #004f4f;
  color: #ffeab6; */
  background-color: #006b6b;
}

.filter-header {
  width: 100%;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
}

#filter {
  max-width: 100%;
  margin-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter-list-container {
  max-width: 100%;

  align-items: center;
  box-sizing: border-box;
}

.filter-category {
  align-items: center;
  margin: 0.2rem 1rem;
  flex-grow: 1;
  box-sizing: border-box;
}

.filter-category-visibility-container {
  gap: 0.5rem;
  position: relative;
  left: 0.75rem;
  align-items: center;
}

.filter-btn-group {
  max-height: 2.5rem;
}

.filter-icon {
  height: 30px;
  max-width: 2rem;
  box-sizing: border-box;
}

.filter-icon-unselected {
  padding: 6px;
}

.squad-supercontainer {
  max-width: 100vw;
  box-sizing: border-box;
  gap: 0.5rem;
}

.squad-supercontainer > .grid-column {
  box-sizing: border-box;
  justify-content: space-evenly;
}

.nikke-squad-container {
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0 0.5rem 0.5rem;
  min-height: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #deb887;
}

.nikke-squad-container > div {
  width: 100%;
}

.squad-header {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.toggle-rating-btn {
  height: 100%;
  background-color: white;
}

.nikke-squad-list {
  max-width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  border-radius: 1rem;
  background-color: #b59872;
  border: 2px solid #766d62;
  align-self: center;
}

.nikke-squad-info {
  min-width: 10%;
  max-width: 30%;
  padding: 0 0.5rem;
  gap: 1rem;
  justify-content: flex-start;
}

.squad-rating-tip {
  margin: 0.25rem 0 -0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rating-warning {
  color: #a76d00;
}

.rating-error {
  color: #e32020;
}

.nikke-list-container {
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0.25rem;
  text-align: center;
  /* background-color: #ffc0cbbf; */
  background-color: #b59872;
  border: 2px solid #766d62;
}

.nikke-list {
  gap: 0rem;
  min-width: 80vw;
  /* max-width: 80vw; */
  min-height: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nikke-unit {
  margin: 0.25rem;
  border-radius: 1rem;
  background-color: rgb(93, 93, 93);
  padding: 0.25rem;
  width: 6rem;
  height: 10rem;

  /* color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nikke-unit-small {
  width: 4em;
  height: 7.5em;
}

.nikke-image-container {
  position: relative;
  /* min-width: 1rem; */
  width: 100%;
  min-height: 3em;
}

.nikke-image {
  max-width: 100%;
  max-height: 100%;
}

.nikke-burst {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 1rem;
  max-width: 30%;
}

.nikke-name-container {
  height: 2rem;
  align-content: center;
}

.nikke-unit-small > .nikke-name-container {
  height: 1rem;
}

.nikke-name {
  font-size: x-large;
  font-weight: bold;
  text-wrap: nowrap;
}

.nikke-name-long {
  font-size: large;
}
.nikke-name-xlong {
  font-size: small;
}

.nikke-unit-small > .nikke-name-container > .nikke-name {
  font-size: medium;
}

.nikke-unit-small > .nikke-name-container > .nikke-name-long {
  font-size: small;
}
.nikke-unit-small > .nikke-name-container > .nikke-name-xlong {
  font-size: xx-small;
}

.nikke-unit-hidden-icons {
  height: 8rem;
}

.nikke-unit-small.nikke-unit-hidden-icons {
  height: 4rem;
}

.nikke-icon-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.nikke-icon {
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  width: 25%;
}
