h1,
h2,
h3,
h4 {
  margin: 0;
}

#tb-header {
  /* position: relative; */
  /* left: 1.15rem; */

  gap: 1rem;
  align-items: center;
}

#tb-header > h1 {
  margin: 0 1rem;
}

#settings-dialog-header {
  display: flex;
  justify-content: space-between;
}

#settings-dialog-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sett-select-icon {
  max-height: 1rem;
  margin-right: 0.5rem;
  color: #70809069;
}

#filter-container {
  width: 80vw;
  border: 1px solid;
  border-color: rgba(144, 202, 249, 0.5);

  /* background-color: #004f4f;
  color: #ffeab6; */
  background-color: #006b6b;
}

.filter-header {
  width: 100%;
  gap: 5%;
  align-items: center;
}

#filter {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#filter-category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-category {
  align-items: center;
  margin: 0.2rem 1rem;
  flex-grow: 1;
}

.filter-category-visibility-container {
  gap: 0.5rem;
  position: relative;
  left: 0.75rem;
  align-items: center;
}

.filter-category > div {
  max-height: 2.5rem;
}

.filter-icon {
  height: 30px;
  max-width: 2rem;
  box-sizing: border-box;
}

.filter-icon-unselected {
  padding: 6px;
}

.nikke-squad {
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0.25rem;
  min-width: 60vw;
  min-height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #deb887;
}

.nikke-squad-info {
  min-width: 20%;
  padding-left: 1rem;
}

.nikke-squad-info > div {
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

.nikke-squad-list {
  gap: 0rem;
  /* min-width: 50%; */
  min-width: 35rem;
  min-height: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  border-radius: 1rem;
  background-color: #b59872;
  border: 2px solid #766d62;
  align-self: center;
}

.squad-rating-tip {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  font-size: x-large;
}

.rating-warning {
  color: rgb(194, 126, 0);
}

.rating-error {
  color: red;
}

.nikke-list-container {
  margin: 0.25rem;
  border-radius: 1rem;
  padding: 0.25rem;
  text-align: center;
  /* background-color: #ffc0cbbf; */
  background-color: #b59872;
  border: 2px solid #766d62;
}

.nikke-list {
  gap: 0rem;
  min-width: 50vw;
  max-width: 80vw;
  min-height: 5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nikke-unit {
  margin: 0.25rem;
  border-radius: 1rem;
  background-color: rgb(93, 93, 93);
  padding: 0.25rem;
  width: 6rem;
  height: 10rem;

  /* color: black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nikke-image-container {
  position: relative;
  /* min-width: 1rem; */
  width: 100%;
  min-height: 3rem;
}

.nikke-image {
  max-width: 100%;
}

.nikke-burst {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 1rem;
  max-width: 30%;
}

.nikke-name {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  text-wrap: nowrap;
}

.nikke-name-long {
  font-size: large;
}
.nikke-name-xlong {
  font-size: small;
}

.nikke-icon-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
}

.nikke-icon {
  /* aspect-ratio: 1/1; */
  object-fit: contain;
  width: 25%;
}
