#heading {
  height: 3rem;
  margin-top: 5px;

  background-color: transparent;
  box-sizing: border-box;
}

#navbar {
  padding: 0 1vw;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

#navbar-title {
  /* min-width: 10vw; */
  /* max-width: 20vw; */
  height: 3rem;

  background-color: beige;
}

#navbar-title > img {
  min-height: 100%;
  max-width: 100%;

  image-rendering: pixelated;
  object-fit: contain;
}
